body{
	background: gray;
	font-size: 40px;
	text-align: center;
	color: white;
}

#square{
	width: 200px;
	height: 200px;
	background: blue;
}

#circle{
	width: 100px;
	height: 100px;
	background: green;
	border-radius: 50%;
}

#rectangle{
	width: 200px;
	height: 100px;
	background: red;
}